@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Ngô Hồng Phúc
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    01234 000 CÓ
</address>

<address>
    <strong>Email:</strong>   <a href="#">phucnhph32940@fpt.edu.vn</a><br />
</address>